@model List<NetCoreAI.Project02_ApiConsumeAI.Dtos.ResultCustomerDto>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br /> <br />
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Müşteri Adı Soyadı</th>
            <th>Müşteri Bakiye</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.customerId</td>
                <td>@item.customerName @item.customerSurname</td>
                <td>@item.customerBalance</td>
                <td><a href="/Customer/DeleteCustomer/@item.customerId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Customer/UpdateCustomer/@item.customerId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Customer/CreateCustomer" class="btn btn-primary">Yeni Müşteri Ekle</a>
</div>
